@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#424241, #424241);
    
} 

.wrapper{
    background-color: #12343b;
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: 10px;
    margin-top: 20px;
}


 .header {
    font-size: 50px;
    margin: 50px 0;
    color: #fff;
    z-index: 1;
    
} 







/* responsive*/

@media (max-width: 800px) {
    .header {
        margin: 15px 0;
        font-size: 40px;
    }
}